<%
//DYNAMIC_VARIABLE:extensions=bootstrap,jquery,vuejs,axios,fontawesome,lodash
%>
<%- include(data.system_layout_header)  %>

<style>
h {
	color: brown;
	font-weight: 500;
}
in {
	color: #777;
	font-style: italic;
}
</style>

<div id="app">
    <div class="card smartFormCard">
        <div class="card-header">
            <div class="pull-left" :class="{areaLoading: pageStatus=='busy'}">Create Page</div>
            <div class="pull-right">
                <i v-if="pageStatus!='ready'" class="pull-left fa fa-cog fa-spin waitSpinner"></i>
            </div>
        </div>
        <div class="card-body smartFormBody" :class="{areaLoading: pageStatus=='busy'}">
            <div class="messageArea" style="display:none">
                <div v-if="formStatus=='success'" class="alert alert-success" v-html="formMessage"></div>
                <div v-if="formStatus=='invalid'" class="alert alert-danger">
                    <strong>Form is invalid:</strong> {{formMessage}}
                </div>
                <div v-if="formStatus=='error'" class="alert alert-danger">
                    <strong>Error:</strong> <span v-html="formMessage"></span>
                </div>
            </div>
            <div v-show="pageStatus!='busy'" class="bodyContent" style="display:none">

                <!-- field: TYPE -->
                <dl>
                    <dt class="dataType_choice"><span v-if="fields.type.required">*</span>{{fields.type.label}}</dt>
                    <dd>
                        <!--radioVertical-->
                        <div v-if="fields.type.choiceSelector == 'radioVertical'" class="display_radioVertical">
                            <ul>
                                <li v-for="choice in fields.type.choices">
                                    <label class="prohibitSelectionClickable" :class="{text_disabled: choice.disabled}"
                                        v-on:keyup.enter="onEnterClick()"><input type="radio"
                                            @change="fieldTypeChanged(choice)" v-model="fields.type.value"
                                            :disabled="choice.disabled" :value="choice.idCode">
										<span v-html="choice.label"></span></label></li>
                            </ul>
                        </div>
                        <!--radioHorizontal-->
                        <div v-if="fields.type.choiceSelector == 'radioHorizontal'" class="display_radioHorizontal">
                            <ul>
                                <li v-for="choice in fields.type.choices">
                                    <label class="prohibitSelectionClickable" v-on:keyup.enter="onEnterClick()"><input
                                            type="radio" v-model="fields.type.value" :value="choice.idCode">
                                        {{choice.label}}</label></li>
                            </ul>
                        </div>
                        <!--dropdown-->
                        <div v-if="fields.type.choiceSelector == 'dropdown'" class="display_dropdown">
                            <select v-model="fields.type.value">
                                <option v-for="choice in fields.type.choices" :value="choice.idCode">
                                    {{choice.label}}</option>
                            </select>
                        </div>
                        <div>
                            <small v-if="fields.type.errorMessage != ''" class="error">{{fields.type.errorMessage}}
                            </small>
                            <small v-if="fields.type.info" class="info">{{fields.type.info}} </small>
                            <small v-if="fields.type.example" class="example"><span class="exampleLabel">Example:</span>
                                <span class="exampleText">{{fields.type.example}}</span>
                            </small>
                        </div>
                    </dd>
                </dl>


                <!-- field: TITLE -->
                <dl class="dataType_line">
                    <dt><span v-if="fields.title.required">*</span>{{fields.title.label}}</dt>
                    <dd>
                        <div>
                            <input id="field_title" v-model="fields.title.value" class="form-control dataType_line"
                                @keydown="keyWasPressed" @keyup="keyWasPressed" v-on:keyup.enter="onEnterClick()"
                                :disabled="pageStatus=='busy'" />
                        </div>
                        <div>
                            <small v-if="fields.title.errorMessage != ''" class="error">{{fields.title.errorMessage}}
                            </small>
                            <small v-if="fields.title.info" class="info">{{fields.title.info}} </small>
                            <small v-if="fields.title.example" class="example"><span
                                    class="exampleLabel">Example:</span>
                                <span class="exampleText">{{fields.title.example}}</span>
                            </small>
                        </div>
                    </dd>
                </dl>

                <!-- field: FORM TYPE DEFINITION FIELD BLOCK -->
                <dl v-show="fields.type.value == 'customForm'" class="dataType_paragraph">
                    <dt><span
                            v-if="fields.formTypeDefinitionFieldBlock.required">*</span>{{fields.formTypeDefinitionFieldBlock.label}}
                    </dt>
                    <dd>
                        <div>
                            <textarea id="field_formTypeDefinitionFieldBlock" :disabled="pageStatus=='busy'"
                                v-model="fields.formTypeDefinitionFieldBlock.value" @keydown="keyWasPressed"
                                @keyup="keyWasPressed" class="form-control dataType_paragraph_control"></textarea>
                        </div>
                        <!-- field info, examples, and error messags -->
                        <div>
                            <small v-if="fields.formTypeDefinitionFieldBlock.errorMessage != ''"
                                class="error">{{fields.formTypeDefinitionFieldBlock.errorMessage}}
                            </small>
                            <small v-if="fields.formTypeDefinitionFieldBlock.info"
                                class="info">{{fields.formTypeDefinitionFieldBlock.info}}
                            </small>
                            <small v-if="fields.formTypeDefinitionFieldBlock.example" class="example"><span
                                    class="exampleLabel">Example:</span>
                                <span class="exampleText">{{fields.formTypeDefinitionFieldBlock.example}}</span>
                            </small>
                        </div>
                    </dd>
                </dl>

                <!-- field: SQL STATEMENT -->
                <dl v-show="fields.type.value == 'sqlStatement'" class="dataType_paragraph">
                    <dt><span v-if="fields.sqlStatement.required">*</span>{{fields.sqlStatement.label}}</dt>
                    <dd>
                        <div>
                            <textarea id="field_sqlStatement" :disabled="pageStatus=='busy'"
                                v-model="fields.sqlStatement.value" @keydown="keyWasPressed" @keyup="keyWasPressed"
                                class="form-control dataType_paragraph_control"></textarea>
                        </div>
                        <!-- field info, examples, and error messags -->
                        <div>
                            <small v-if="fields.sqlStatement.errorMessage != ''"
                                class="error">{{fields.sqlStatement.errorMessage}}
                            </small>
                            <small v-if="fields.sqlStatement.info" class="info">{{fields.sqlStatement.info}} </small>
                            <small v-if="fields.sqlStatement.example" class="example"><span
                                    class="exampleLabel">Example:</span>
                                <span class="exampleText">{{fields.sqlStatement.example}}</span>
                            </small>
                        </div>
                    </dd>
                </dl>

                <!-- field: ITEM TYPE ID CODE -->
                <dl v-show="fields.type.value == 'itemTypeManager' || fields.type.value == 'manageItem' || fields.type.value == 'itemTypeDisplay'|| fields.type.value == 'manageItems'"
                    class="dataType_line">
                    <dt><span v-if="fields.itemTypeIdCode.required">*</span>{{fields.itemTypeIdCode.label}}</dt>
                    <dd>
                        <div>
                            <input id="field_itemTypeIdCode" v-model="fields.itemTypeIdCode.value"
                                class="form-control dataType_line" @keydown="keyWasPressed" @keyup="keyWasPressed"
                                v-on:keyup.enter="onEnterClick()" :disabled="pageStatus=='busy'" />
                        </div>
                        <!-- field info, examples, and error messags -->
                        <div>
                            <small v-if="fields.itemTypeIdCode.errorMessage != ''"
                                class="error">{{fields.itemTypeIdCode.errorMessage}}
                            </small>
                            <small v-if="fields.itemTypeIdCode.info" class="info">{{fields.itemTypeIdCode.info}}
                            </small>
                            <small v-if="fields.itemTypeIdCode.example" class="example"><span
                                    class="exampleLabel">Example:</span>
                                <span class="exampleText">{{fields.itemTypeIdCode.example}}</span>
                            </small>
                        </div>
                    </dd>
                </dl>

                <!-- field: ITEM TYPE ID CODE LIST -->
                <dl v-show="fields.type.value == 'multiitemSearchPage'"
                    class="dataType_line">
                    <dt><span v-if="fields.itemTypeIdCodeList.required">*</span>{{fields.itemTypeIdCodeList.label}}</dt>
                    <dd>
                        <div>
                            <input id="field_itemTypeIdCodeList" v-model="fields.itemTypeIdCodeList.value"
                                class="form-control dataType_line" @keydown="keyWasPressed" @keyup="keyWasPressed"
                                v-on:keyup.enter="onEnterClick()" :disabled="pageStatus=='busy'" />
                        </div>
                        <!-- field info, examples, and error messags -->
                        <div>
                            <small v-if="fields.itemTypeIdCodeList.errorMessage != ''"
                                class="error">{{fields.itemTypeIdCodeList.errorMessage}}
                            </small>
                            <small v-if="fields.itemTypeIdCodeList.info" class="info">{{fields.itemTypeIdCodeList.info}}
                            </small>
                            <small v-if="fields.itemTypeIdCodeList.example" class="example"><span
                                    class="exampleLabel">Example:</span>
                                <span class="exampleText">{{fields.itemTypeIdCodeList.example}}</span>
                            </small>
                        </div>
                    </dd>
                </dl>


                <!-- field: KIND -->
                <dl style="display:none">
                    <dt class="dataType_choice"><span v-if="fields.kind.required">*</span>{{fields.kind.label}}</dt>
                    <dd>
                        <!--radioVertical-->
                        <div v-if="fields.kind.choiceSelector == 'radioVertical'" class="display_radioVertical">
                            <ul>
                                <li v-for="choice in fields.kind.choices">
                                    <label class="prohibitSelectionClickable" v-on:keyup.enter="onEnterClick()"><input
                                            type="radio" v-model="fields.kind.value" :value="choice.idCode">
                                        {{choice.label}}</label></li>
                            </ul>
                        </div>
                        <!--radioHorizontal-->
                        <div v-if="fields.kind.choiceSelector == 'radioHorizontal'" class="display_radioHorizontal">
                            <ul>
                                <li v-for="choice in fields.kind.choices">
                                    <label class="prohibitSelectionClickable" v-on:keyup.enter="onEnterClick()"><input
                                            type="radio" v-model="fields.kind.value" :value="choice.idCode">
                                        {{choice.label}}</label></li>
                            </ul>
                        </div>
                        <!--dropdown-->
                        <div v-if="fields.kind.choiceSelector == 'dropdown'" class="display_dropdown">
                            <select v-model="fields.kind.value">
                                <option v-for="choice in fields.kind.choices" :value="choice.idCode">
                                    {{choice.label}}</option>
                            </select>
                        </div>
                        <div>
                            <small v-if="fields.kind.errorMessage != ''" class="error">{{fields.kind.errorMessage}}
                            </small>
                            <small v-if="fields.kind.info" class="info">{{fields.kind.info}} </small>
                            <small v-if="fields.kind.example" class="example"><span class="exampleLabel">Example:</span>
                                <span class="exampleText">{{fields.kind.example}}</span>
                            </small>
                        </div>
                    </dd>
                </dl>

                <!-- form notes -->
                <div class="pull-left formNotes">
                    <span v-if="thereAreRequiredFields()" class="requiredFieldMarker">* required field</span>
                </div>

                <!-- submit button -->
                <div class="pull-right">
                    <button id="buttonSubmit" :disabled="formSubmitButtonShouldBeDisabled()" @click="processForm()"
                        class="btn btn-default formButton">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="quickMenuArea">
        >>> <a href="deletePage">Delete Page</a>
    </div>

</div>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            clientSideEmptyFieldChecking: false,
            pageStatus: 'ready',
            formStatus: '',
            formMessage: '',
            fields: {
                type: {
                    label: '',
                    dataTypeIdCode: '',
                    value: '',
                    info: '',
                    example: '',
                    required: false,
                    errorStatus: '',
                    errorMessage: '',
                    displayStatus: '',
                    choicesList: '',
                    choiceSelector: ''
                },
                title: {
                    label: '',
                    dataTypeIdCode: '',
                    value: '',
                    info: '',
                    example: '',
                    required: false,
                    errorStatus: '',
                    errorMessage: '',
                    displayStatus: '',
                    choicesList: '',
                    choiceSelector: ''
                },
                formTypeDefinitionFieldBlock: {
                    label: '',
                    dataTypeIdCode: '',
                    value: '',
                    info: '',
                    example: '',
                    required: false,
                    errorStatus: '',
                    errorMessage: '',
                    displayStatus: '',
                    choicesList: '',
                    choiceSelector: ''
                },
                sqlStatement: {
                    label: '',
                    dataTypeIdCode: '',
                    value: '',
                    info: '',
                    example: '',
                    required: false,
                    errorStatus: '',
                    errorMessage: '',
                    displayStatus: '',
                    choicesList: '',
                    choiceSelector: ''
                },
                itemTypeIdCode: {
                    label: '',
                    dataTypeIdCode: '',
                    value: '',
                    info: '',
                    example: '',
                    required: false,
                    errorStatus: '',
                    errorMessage: '',
                    displayStatus: '',
                    choices: '',
                    choiceSelector: ''
                },
                kind: {
                    label: '',
                    dataTypeIdCode: '',
                    value: '',
                    info: '',
                    example: '',
                    required: false,
                    errorStatus: '',
                    errorMessage: '',
                    displayStatus: '',
                    choicesList: '',
                    choiceSelector: ''
                },
                itemTypeIdCodeList: {
                    label: '',
                    dataTypeIdCode: '',
                    value: '',
                    info: '',
                    example: '',
                    required: false,
                    errorStatus: '',
                    errorMessage: '',
                    displayStatus: '',
                    choices: '',
                    choiceSelector: ''
                }
            }
        },
        methods: {
            initialize: function () {
                $('.bodyContent').show();
                $('.messageArea').show();
                this.loadPageData();
            },
            loadPageData: function () {
                this.pageStatus = 'busy';
                const that = this;
                axios({
                    method: 'post',
                    url: 'controllerCreatePage',
                    data: {
                        action: 'loadPageData'
                    }
                }).then(function (responseObject) {
                    const response = qsys.getResponse(responseObject);
                    const formFocusedFieldIdCode = response.formFocusedFieldIdCode;
                    that.fields = response.data.fields;
                    that.focusField(formFocusedFieldIdCode);
                    that.pageStatus = 'ready';
                }).catch(function (error) {
                    that.pageStatus = 'failed';
                });
            },
            processForm: function () {
                this.pageStatus = 'busy';
                const that = this;
                axios({
                    method: 'post',
                    url: 'controllerCreatePage',
                    data: {
                        action: 'processForm',
                        fields: that.fields
                    }
                }).then(function (responseObject) {
                    const response = qsys.getResponse(responseObject);
                    const formFocusedFieldIdCode = response.formFocusedFieldIdCode;
                    that.formStatus = response.formStatus;
                    that.formMessage = response.formMessage;
                    that.fields = response.data.fields;
                    that.focusField(formFocusedFieldIdCode);
                    that.pageStatus = 'ready';
                }).catch(function (error) {
                    that.formMessageKind = 'error';
                    that.formMessage = 'An unknown error occurred.';
                });
            },
            onEnterClick: function () {
                $('#buttonSubmit').click();
            },
            qstr_isEmpty: function (line) {
                return qstr.isEmpty(line);
            },
            formSubmitButtonShouldBeDisabled: function () {
                if (!this.clientSideEmptyFieldChecking) {
                    return false;
                }
                if (this.pageStatus == 'busy') {
                    return true;
                }
                for (const key in this.fields) {
                    const field = this.fields[key];
                    if (field.required && qstr.isEmpty(field.value)) {
                        return true;
                    }
                }
                return false;
            },
            keyWasPressed: function (e) {

                if (e.keyCode === 13 && e.ctrlKey) {
                    this.onEnterClick();
                }

                this.formSubmitButtonShouldBeDisabled();

                let thereAreErrors = false;

                //empty fields
                for (const idCode in this.fields) {
                    const field = this.fields[idCode];
                    if (field.required && qstr.isEmpty(field.value)) {
                        this.setDataInFields(idCode, 'errorMessage',
                            'This value is required and cannot be empty.');
                        thereAreErrors = true;
                    } else {
                        this.setDataInFields(idCode, 'errorMessage', '');
                    }
                }
            },
            focusField: function (fieldIdCode) {
                setTimeout(function () {
                    $('#field_' + fieldIdCode).focus();
                }, 50);
            },
            setDataInFields: function (idCode, property, value) {
                const field = `${idCode}.${property}`;
                _.set(this.fields, field, value)

            },
            thereAreRequiredFields: function () {
                for (const idCode in this.fields) {
                    const field = this.fields[idCode];
                    if (field.required) {
                        return true;
                    }
                }
                return false;
            },
            switchChoiceSelector: function (field) {
                switch (field.choiceSelector) {
                    case 'radioVertical':
                        field.choiceSelector = 'dropdown';
                        break;
                    case 'dropdown':
                        field.choiceSelector = 'radioHorizontal';
                        break;
                    case 'radioHorizontal':
                    default:
                        field.choiceSelector = 'radioVertical';
                        break;
                }
            },
            fieldTypeChanged: function (choice) {
                const idCode = choice.idCode;
                this.focusField('title');
                if (idCode == 'itemTypeManager') {
                    this.fields.title.value = 'Manage Test Showcase Users';
                    this.fields.itemTypeIdCode.value = 'showcaseUsers';
                }
            }
        }
    });
    app.initialize();
</script>

<%- include(data.system_layout_footer)  %>